.container{
    display: flex;
    gap: 3rem;
    margin-top: 6rem;
    justify-content: center;
    background: rgb(32, 32, 32);
    height: 300px;
    color: white;
   padding-top: 50px;
  }

  .container>span{
    color: var(--themeOrange);
    font-weight: bold;
  }

  .titulo{
    font-weight: bold;
    font-size: 20px;
  }

  .logo{
    display: flex;
    flex-direction: column
}
  .logo>span{
    font-weight: bold;
    font-size: 1.5rem;
}

.namelogo{
  font-family: 'Crafty Girls', cursive;
}

.redes{
    display: flex;
    gap: 1rem;
}
.redes>*{
    fill: var(--themeBlack);
}

.centrarFooter{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
}
