.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  background: #E3702A;
  width:100%;
  position: fixed;
  z-index: 1;  
}

.logo{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  flex:1;
  flex-direction: column;
}

.logo>span{
  font-weight: bold;
  font-size: 1.5rem;
}

.namelogo{
  font-family: 'Crafty Girls', cursive;
}

.menu{
  display: flex;
  list-style: none;
  font-size: 1.2rem;
  gap: 2rem;
  flex: 1;
  justify-content: center;
  z-index: 99;
  transition: all 300ms ease;
}

.menu>li:hover{
  color: var(--pink);
  cursor: pointer;
  transform: scale(1.1);
}

.rightSide{
  display: flex;
  gap: 1rem;
  flex: 1;
  justify-content: space-around;
}


.cart{
  display: flex;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
  z-index: 99;
}

.badge{
  display: flex;
  position: absolute;
  background-color: var(--themeBlack);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  right: -0.5rem;
}

.ContactUs{
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  padding: 0.5rem;
  border-radius: 5rem;
  top: 6rem;
  left: 27rem;
  gap: 1rem;
  color: var(--themeOrange);
  box-shadow: var(--shadow);
  background-color: white;
  transition: all 300ms ease;
}

.ContactUs>div{
  background: rgb(59 208 59);
  border-radius: 50%;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
}

.ContactUs:hover{
  cursor: pointer;
  transform: scale(1.1);
}
