.container{
    display: flex;
    position: relative;
    width: 55%;
    top: 1rem;  
    margin-top: 8rem;
    
}

.left{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.Moto{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-top: 3rem;
    background-color: var(--pink);
    padding: 1rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    color:var(--themeOrange);
    font-weight: bold;
}

.heroText{
    display: flex;
    flex-direction: column;
    font-size: 4rem;
    font-weight: bold;
}

.miniText{
    width: 70%;
    color: var(--gray);
    font-weight:600;
}

.right{
    position: relative;
    
}

.grow{
    flex-grow: 1;
}

.imageContainer{
    width: 38rem;
    position: absolute;
    top: -5rem;
    left: -5rem;
}



.Bocata{
    display: flex;
    gap: 1rem;
    background-color: white;
    box-shadow: var(--shadow);
    padding: 0.5rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: 7rem;
    left: 19rem;
    width: max-content;
    transition: all 300ms ease;
}

.Bocata:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.Bocata>:nth-child(1)
{
    border-radius: 0.5rem;
    width: 6rem;
    height: 4rem;
    overflow: hidden;
}

.Bocata>:nth-child(2)
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: bold;
}